<!DOCTYPE html>
<html lang="en">
<head>
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="canonical" href="https://zhengzp2019.github.io/note/template/%E9%97%AA%E8%AE%B0/">
    <link rel="shortcut icon" href="../../img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>闪记 - mydocs</title>
    <link href="../../css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link href="../../css/font-awesome-4.7.0.css" rel="stylesheet">
    <link href="../../css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/highlight.css">
    <link href="../../styles/admonition-fix.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap-3.3.7.min.js"></script>
    <script src="../../js/highlight.pack.js"></script>
    
    <base target="_top">
    <script>
      var base_url = '../..';
      var is_top_frame = false;
        
        var pageToc = [
          {title: "\u95ea\u8bb0", url: "#_top", children: [
              {title: "\u4eca\u65e5\u95ee\u9898", url: "#_2" },
              {title: "\u4eca\u65e5\u603b\u7ed3", url: "#_3" },
          ]},
        ];

    </script>
    <script src="../../js/base.js"></script> 
</head>

<body>
<script>
if (is_top_frame) { $('body').addClass('wm-top-page'); }
</script>



<div class="container-fluid wm-page-content">
  <a name="_top"></a>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav pull-right">
      <a href="../prompt%20%26%20context/%E5%89%8D%E5%90%8E%E7%AB%AF%E5%BC%80%E5%8F%91%E5%9C%BA%E6%99%AF/" class="btn btn-xs btn-default pull-right">
        Next
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <a href="../prompt%20%26%20context/%E5%89%8D%E5%90%8E%E7%AB%AF%E5%BC%80%E5%8F%91%E5%9C%BA%E6%99%AF/" class="btn btn-xs btn-link">
        前后端开发场景
      </a>
    </div>
    
    <div class="wm-article-nav">
      <a href="../../java%20%E6%A1%86%E6%9E%B6/%E9%87%8D%E8%AF%95%E7%BB%84%E4%BB%B6/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../../java%20%E6%A1%86%E6%9E%B6/%E9%87%8D%E8%AF%95%E7%BB%84%E4%BB%B6/" class="btn btn-xs btn-link">
        重试组件
      </a>
    </div>
    
  </div>

    

    <h1 id="_1">闪记</h1>
<ul class="task-list">
<li class="task-list-item"><label class="task-list-control"><input type="checkbox" disabled/><span class="task-list-indicator"></span></label> </li>
</ul>
<h2 id="_2">今日问题</h2>
<ol>
<li></li>
</ol>
<h2 id="_3">今日总结</h2>
<p>-</p>

  <br>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav pull-right">
      <a href="../prompt%20%26%20context/%E5%89%8D%E5%90%8E%E7%AB%AF%E5%BC%80%E5%8F%91%E5%9C%BA%E6%99%AF/" class="btn btn-xs btn-default pull-right">
        Next
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <a href="../prompt%20%26%20context/%E5%89%8D%E5%90%8E%E7%AB%AF%E5%BC%80%E5%8F%91%E5%9C%BA%E6%99%AF/" class="btn btn-xs btn-link">
        前后端开发场景
      </a>
    </div>
    
    <div class="wm-article-nav">
      <a href="../../java%20%E6%A1%86%E6%9E%B6/%E9%87%8D%E8%AF%95%E7%BB%84%E4%BB%B6/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../../java%20%E6%A1%86%E6%9E%B6/%E9%87%8D%E8%AF%95%E7%BB%84%E4%BB%B6/" class="btn btn-xs btn-link">
        重试组件
      </a>
    </div>
    
  </div>

    <br>
</div>

<footer class="container-fluid wm-page-content">
      <p>
        <a href="https://github.com/zhengzp2019/note/edit/master/docs/template/闪记.md">Edit on zhengzp2019/note</a>
      </p>
  <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a> using <a href="https://github.com/gristlabs/mkdocs-windmill">Windmill</a> theme by Grist Labs.</p>
</footer>

</body>
</html>